*{
        margin:0;
        padding:0;
        box-sizing:border-box;
    }
    body{
        font-family:'Quicksand',sans-serif;
        background:linear-gradient(to bottom right,#e6fff9,#f2fbff);
        color:#2D3748;
        min-height:100vh;
        display:flex;
        flex-direction:column;
    }

    header{
       
        display: flex;
        justify-content: space-between;
        /* display:grid;
        grid-template-columns:auto 1fr auto; */
        align-items:center;
        padding:1rem 2rem;
        background:#fff;
        box-shadow:0 4px 12px rgba(0,0,0,.05);
    }
    .logo{
        font-size:1.4rem;
        font-weight:700;
        color:#38B2AC;
    }
    nav{
        display:flex;
        gap:30px;
        justify-content:center;
        flex-wrap:wrap;
    }
    nav a,.login a{
        color:#2D3748;
        text-decoration:none;
        font-weight:600;
    }
    nav a:hover,.login a:hover{
        color:#319795;
    }
    .right-section{
        display:flex;
        align-items:center;
        gap:15px;
    }
    .menu-toggle{
        display:none;
        font-size:1.8rem;
        cursor:pointer;
    }

    @media(max-width:768px){
      nav{
        position:absolute;
        top:60px;left:0;
        right:0;
        background:#fff;flex-direction:column;
        align-items:center;
        max-height:0;
        overflow:hidden;
        transition:max-height .4s;
    }
      nav.show{
        max-height:300px;
        padding:1rem 0;
    }
      .menu-toggle{
        display:block;
    }
    
    }


.about-section{
    background-color:#e3f4f0 ;
    /* padding: 60px 20px; */
        padding: 10px 20px;

    font-family: 'Poppins', sans-serif;
    text-align: center;
}

.container{
    max-width: 900px;
    margin: auto;
}

/* Headings */
.center-heading{
    font-size: 32px;
    color: #42796e;
    margin: 40px 0 20px 0;
}

/* Text */
.about-text, .resources-text{
    color: #444;
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 20px;
}
.quote-banner{
    background-color:#85bfb3;
    padding: 20px;
    margin-top: 50px;
    margin-bottom: 20px;
    border-radius: 10px;
    font-style: italic;
    color: white;
    font-size: 18px;
    font-weight: 500;
}


 footer{
        
        
      
        background:#ccf8ef;
        color:#4A5568;
        text-align:center;
        padding:1rem;
        font-size:.85rem;
    }

