*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'QuickSand', sans-serif;
    /* background: linear-gradient(to bottom right , #e6f4f7, #fefefe); */
    background-color: #f4f8f9;
    color: #2D3748;
    overflow: hidden;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background: rgba(255 , 255 , 255 , 0.6);
    /* backdrop-filter: blur(10px); */
    position: sticky;
    top: 0;
    z-index: 10;
    box-shadow: 0 4px 12px rgba(0,0,0,0.05);
}
.logo{
    font-size: 1.8rem;
    font-weight: 700;
    /* color: #1c6460; */
    color: #287a8f;
}

nav a{
    margin-left: 25px;
    /* color: #1c6460; */
    color: #308ca3;
    text-decoration: none;
    font-weight: 600;
    transition: color 0.3s ease;
}
nav a:hover{
    color: #1b6b69;
    text-decoration: underline;
}